@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EB Garamond;
}

body {
    height: 4200px;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color:#b2b6b8;
    color: white;
    justify-content: space-between;
    font-size: 16px;
    padding: 40px;
    align-items: center;
}

.logo {
    font-size: 30px;
    align-self: center;
    justify-content: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-bar li a:hover {
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
}

.bottone-primo {
    text-decoration: none;
    color: white;
    justify-self: end;
}

.bottone-primo:hover {
    background-color: black;
    border: solid black;
    border-radius: 6px;
}

.hero {
    height: 50vh;
    background-image: url('img/logo.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 60px;
    color: gray;
}

.hero-content h3 {
    font-size: 40px;
}

.hero-content p {
    font-size: 25px;
}

.bottone-secondo {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    color: black;
    font-size: 20px;
}

.bottone-secondo:hover {
    background-color: gainsboro;
}

.storia-container {
    background-color:lightgrey;
    border-radius: 8px;
}

.storia-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    align-items: center;
    margin: 10px;
    padding: 20px 40px;
}

.storia-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.storia-text {
    font-size: 24px;
}

#title {
    margin-bottom: 20px;
    font-size: 30px;
}

#sottotitolo {
    margin-bottom: 20px;
}


.sostenibilità-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
    width: 100%;
}

.sostenibilità-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

#sostenibilità {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 32px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.card h2 {
    font-size: 25px;
    text-align: center;
}

.card p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 8px;
}

.esperienze-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

.box:hover {
    background-color: transparent;
    cursor: pointer;
}

#esperienze {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}

.box h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.box p {
    font-size: 20px;
}

.stanze-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 10px;
    background-color: antiquewhite;
}

.card {
    background-color: lightgrey;
}

.card:hover {
    background-color: silver;
    cursor: pointer;
}

.stanze-grid img {
    width: 75%;
    margin-left: 10%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}



.card h2 {
    margin: 10px;
}

.price {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    background: gray;
    color: white;
}

#prezzo {
    margin-top: 46px;
}

.tipi-di-stanze h2 {
    text-align: center;
    font-size: 32px;
    color: black;
    margin-top: 50px;
}

.btn {
    text-decoration: none;
    margin: 30px auto 0;
    border: 1px solid black;
    display: block;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    color: rgb(14, 1, 1);
    border-radius: 8px;
}

.btn:hover {
    background-color: white;
}

#mappa {
    border-radius: 8px;
}

.modulo-prenotazione {
    margin: 20px;
    background-color: antiquewhite;
    background-color: cov;
    width: 30%;
    height: 750px;
    border-color: white;
    border-radius: 8px;
    flex: 1;

}

.modulo-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.modulo-prenotazione label {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 10px 0;
    font-size: 20px;
}

.modulo-prenotazione input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;

}

.modulo-prenotazione h2 {
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}

.bottone-terzo {
    text-decoration: none;
    color: black;
    border: solid 1px black;
    padding: 10px;
    width: 25%;
    border-radius: 8px;
    font-weight: bold;
}

.bottone-terzo:hover {
    background-color: white;
}

.informazioni-grid {
    display: flex;
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin-left: 20px;
    background-color: lightgrey;
    margin: 0 auto;
    border-radius: 10px;

}

.map {
    flex: 1;
}

.map-conteiner iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
    margin-top: 15%;
}

.map-conteiner h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    margin: 0;
}

.footer-container {
    background-color: gainsboro;
    margin-top: 100px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding:10px;
    gap:20px;
    align-items: center;

}

.footer-column a {
    text-decoration: none;
    flex-direction: column;
    display: flex;
}

.footer-column {
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    letter-spacing: 2px;
}

.footer-column img{
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    width: 22px;
}

.footer-column h3{
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 5px;
}